.home-chat {
    background-position: center center;
    background-size: cover;
    background-image: url(../img/Digital-Security-Magazine-2021-Cybersecurity-Risk-of-AI-Algorithms.jpg);
    height: 100vh;
  }
/* Start sub Menu */
.sub-menu-wrap{
    width: 320px;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    display: none;
    top: 125%;
    right: 0%;
}
.sub-menu{
  padding: 10px;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  background-color: #ccc;
  width: 100%;
  margin: 15px 0px 10px;

}
.user-info img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.user-info h2{
  font-size: 15px;
}
.sub-menu-links{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin: 12px 0;
}
.sub-menu-links p{
  width: 100%;
  padding-top: 10px;
}
.sub-menu-links span{
  font-size: 22px;
}
.sub-menu-links:hover span{
  transform: translateX(5px);
}
.sub-menu-links:hover p{
  font-weight: 600;
  color: #4C2A63;
}
.sub-menu-links i{
  width: 40px;
  background-color: #A74B94;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
  color: #fff;
}
/* .sub-menu-wrap.openmenu{
    height: 400px;
} */


/* End sub Menu */
  .logo{
    width: 60px; 
    margin-right: 10px;
  }
  .logo img{
    width: 100%;
  }
  .navbar .container {
    width: 90%;
    margin: auto;
  }
  .navbar .navbar-brand{
    color: #A74B94;
  }
  .container-chat {
    width: 85%;
    height: 85vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .navbar {
    background:linear-gradient(to right,rgba(0,0,0,.8),rgba(98, 97, 97, 0.19)) ;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .linksIcon .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item a{
    color: #A74B94;

  }
  .nav-item a:hover{
    color: #fff;
  }
  
  .linksIcon i {
    color: #fff;
    cursor: pointer; 
    margin-left: 20px;
  }
  .form-add{
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
.inputAdd{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 150px;
    height: 25px;
    padding: 3px 10px;
    display: none; 
    margin-top: 10px;
  }
  .chat-contact {
    width: 100%;
    height: calc(85vh - 60px);
  }
  
  .navbar .img-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  #user-status{
    font-size: 14px;

  }
  .green{
    color: green;
  }
  .red{
    color: red;
  }
  /* Start Search */
  .searchName {
    position: relative;
    height: 60px;
    background-color: #4C2A63;
    padding: 0 15px;
    border-right: 1px solid #fff;
  }
  
  .searchName input {
    width: 100%;
    outline: none;
    border: none;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    padding-left: 40px;
    font-size: 14px;
  }
  .searchName input::placeholder {
    color: #9e9696ac;
  }
  .searchName i {
    left: 30px;
    top: 14px;
    font-size: 1.2rem;
  }
  /* End Search */
  
  /* Contact List */
  .contacts {
    background-color: #f0f0f0;
    border-right: solid #fff 2px;
  }
  .contact-list {
    overflow-y: auto;
    height: calc(85vh - 120px);
  }
  .contact-list .contact {
    padding: 12px 15px;
    border-bottom: 1px solid #4C2A63;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .contact-list .contact:hover {
    background-color: #7ea8a8;
  }
  .contact-list .contact.active {
    background-color: #048583;
  }
  .contact-list .img-contact {
    position: relative;
    width: 45px;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
  .details .name h4 {
    color: #4C2A63;
  }
  .contact h4 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #111;
    pointer-events: none;
  }
  .contact .time {
    font-size: 0.75rem;
    color: #111;
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
  }
  .contact.unread .time {
    color: var(--bgColor2);
    pointer-events: none;
  }
  .disabled {
    pointer-events: none;
  }
  
  .massage-p p {
    color: #000;
    display: -webkit-box; /*!!!!!!!عشان لو في كلام اتكتب كتير يحطلي نقطط ومينزلش سطر*/
    -webkit-line-clamp: 1; /*!!!!!!!*/
    font-size: 0.9rem;
    -webkit-box-orient: vertical; /*!!!!!!!*/
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  b {
    background-color: var(--bgColor2);
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  /* End Contact list */
  
  .img-text h4 {
    font-weight: 500;
    line-height: 1.3rem;
    margin-left: 15px;
    font-size: 1rem;
    color: #fff;
  }
  .img-text h4 span {
    font-size: 0.8rem;
    color: #a4f5d5;
  }
  .full {
    min-width: 100% !important;
  }
  .chat-message {
    display: none;
  }
  /* Chat box */
  #fileupload{
    display: none;
  }
  #chat-id{
    display: block;
  }
  .boximage{
    display: none;
  }
  .chat-box {
    position: relative;
    width: 100%;
    height: calc(85vh - 180px);
    padding: 20px;
    overflow-y: auto;
    background-color: transparent;
  }
  .img-box{
    position: relative;
    width: 100%;
    height: calc(85vh - 180px);
    background-color: #fff;

  }
  .img-box i {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;

  }
  .img-box .image{
    width: 80%;
    height: 80%;


  }
  .img-box img{
    width: 100%;
    height: 100%;
  }
  .massage {
    position: relative;
    width: 100%;
    display: flex;
    margin: 5px 0;
  }
  .massage p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 15px;
    background-color: #dcf8dc;
    border-radius: 10px;
    font-size: 0.9rem;
  }
  .massage img{
    width: 150px;
    height: 150px;
  }
  .massage p::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    right: -12;
    top: 0;
    background: linear-gradient(
      135deg,
      #dcf8dc 0%,
      #dcf8dc 50%,
      transparent 50%,
      transparent
    );
  }
  .massage p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85rem;
    opacity: 0.5;
  }
  .myMassage {
    justify-content: flex-end;
  }
  .friendMassage {
    justify-content: flex-start;
  }
  .friendMassage p {
    background-color: #fff;
    text-align: left;
    position: relative;
  }
  .massage.friendMassage p::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: -12;
    top: 0;
    background: linear-gradient(225deg,#fff 0%,#fff 50%,transparent 50%,transparent);
  }
  .chatBox-input {
    height: 60px;
    background-color: #f0f0f0;
    padding: 15px;
  }

  .chatBox-input i {
    cursor: pointer;
    font-size: 1.5rem;
    color: #A74B94;
  }
  .chatBox-input i:nth-child(1) {
    margin-right: 15px;
  }
  .chatBox-input input {
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
  }
  
  .navIcon li {
    list-style: none;
    color: #2563e0;
    font-size: 1.2rem;
    margin-left: 22px;
    cursor: pointer;
  }
  .header {
    height: 60px;
    background-color:#4C2A63;
    padding: 0 15px;
  }
  .img-user {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .cover {
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
/* Start Profile */

.imgProfile{
  width: 250px;
  margin: auto;
  padding-top: 20px;
}
.imgProfile img{
  width: 100%;
  border-radius: 50%;
 
}
#profile {
  display: none;
  height: calc(85vh - 60px);

}

h1{
  color: #A5CAD2;
  font-size: 25px;
  margin: 10px 0px;
  text-align: center;

}





.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.card .form-group{
  margin-bottom: 20px;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
    width: 50%;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}



/* requst page */
.iconR{
  width: 40px;
  height:40px;
  text-align: center;
  margin-left: 10px;
  border-radius: 50%;
}
.iconR i{
  margin-top: 11px;
  font-size: 20px;
}
.iconR:nth-child(1){
  background-color: rgb(28, 168, 28);
  color: #fff;
}
.iconR:nth-child(2){
  background-color: rgb(199, 55, 55);
  color: #fff;

}

#requests-friend{
  display: none;
}
.name-request{
  background-color: #A74B94;

}
.requests{
  height: calc(85vh - 60px);
}
.card{
  border-radius: 0px !important;
}
.cart-container {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px;

}

.cart-container .cart-body {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 0 20px;
  margin: 20px 0 30px;

}