* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'p';
}

:root {
    --color: #4000a0;
}

.sign {
    /* */
    background-image: linear-gradient(rgba(0, 0, 50, .8), rgba(0, 0, 50, .8)), url(../img/amazon-codeguru-reviewer-security-detector.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

}

.form-box {
    /* 4ayel el form kolo*/
    background-color: #fff;
    position: absolute;
    width: 90%;
    max-width: 450px;
    padding: 50px 60px 70px;
    text-align: center;
    left: 10%;
    border-radius: 10px;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: var(--color);
    position: relative;
}

.form-box h1::after {
    content: '';
    position: absolute;
    border-radius: 3px;
    width: 30px;
    height: 4px;
    background-color: var(--color);
    top: 105%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.input-field {
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: rgb(213, 206, 206);
    max-height: 85px;
    overflow: hidden;
    transition: max-height .5s;
}

input {
    width: 100%;
    background-color: transparent;
    padding: 15px 18px;
    outline: 0;
    border: 0;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: var(--color);
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    background-color: var(--color);
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    height: 240px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    position: center;
}

.alert-success {
    background-color: rgb(40, 175, 40) !important;
}

.alert-error {
    background-color: red;
}